<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advisor Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#" >Undergraduate Advisors</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="@{/advisors}">Advisors View</a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="#">Link</a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="#">Link</a>-->
            <!--            </li>-->
        </ul>
    </div>
</nav>
<br/>
<br/>
<div class = "container">
    <div class="row">
        <a style="float: right;" th:href = "@{/advisors}" class="btn btn-primary btn-sm mb-3">Advisors List
        </a>
        <div class="col-lg-3">
            <a th:href = "@{/assignments/new}" class="btn btn-primary btn-sm mb-3">Add Alpha Assignment
            </a>

        </div>
    </div>
    <form th:action ="@{/assignments}" method="get">
        <input id="txtsearch" type="text" name="keyword">
        <button type="submit">Go</button>
    </form>
    <br/>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Advisor First Name</th>
            <th>Advisor Last Name</th>
            <th>Major Name</th>
            <th>Alpha Assignments</th>
<!--            <th>Alpha2</th>-->
            <th>Actions</th>
        </tr></thead>
        <tbody>
        <tr th:each = "list:${assignments}">
            <td th:text="${list.advisor.firstName}"></td>
            <td th:text ="${list.advisor.lastName}"></td>
            <td th:text ="${list.major.majorname}"></td>
            <td th:text ="${list.toString()}"></td>
<!--            <td th:text ="${list.alpha2}"></td>-->
            <td>
                <a th:href ="@{/assignments/edit/{id}(id=${list.assignmentid})}" class="btn btn-primary">Edit
                </a>
                <!--/*@thymesVar id="assignments" type=""*/-->
                <!--                <a th:href ="@{/assignments}" class="btn btn-primary">Assignments-->
                <!--                </a>-->
                <br/>
                <a th:href ="@{/assignments/{id}(id=${list.assignmentid})}" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger">Delete
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>