<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Advisor Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Undergraduate Advisors</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Update Alpha Assignment</h1>
            <div class="card-body">
                <form th:action ="@{/assignments/{id}(id=${assignmentnew.assignmentid})}" th:object ="${assignmentnew}" method="POST">
                    <div class="form-group">

                        <div class="form-group">
                            <!--                        <label>Advisor ID</label>-->
                            <!--                        <input type="text" name="advisorid" th:field = "*{advisor.id}" class ="form-control" placeholder="Enter Advisor ID"> </div>-->
                            <label>Choose Advisor</label>
                            <select th:field ="*{advisor}" class="form-control">
                                <th:block th:each ="adv : ${advisorslist}">
                                    <option th:text="${adv.firstName}" th:value="${adv.id}" />
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Choose Major:</label>
                            <select th:field ="*{major}" class="form-control">
                                <th:block th:each ="maj : ${majorslist}">
                                    <option th:text="${maj.majorname}" th:value="${maj.majorid}" />
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Alpha1</label>
                            <input type="text" name="alpha1" th:field = "*{alpha1}" class ="form-control" placeholder="Enter Alpha1"> </div>
                        <div class="form-group">
                            <label>Alpha2</label>
                            <input type="text" name="alpha2" th:field = "*{alpha2}" class ="form-control" placeholder="Enter Alpha2">
                        </div>
                        <div class="box-footer">
                            <button type ="submit" class="btn btn-primary">
                                Update Assignment
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>